body {
    /*background-image: url(public/images/cp_gs_bg_web.jpg);*/
    margin: 0px;
    height: 600px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/images/cp_gs_bg_web.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 1px 1px .5px 0px;
}

.password {
    background-color: rgba(255, 255, 255, 0.181);
    padding: 150px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}

button {
    padding: 10px;
    background-color: rgb(38, 159, 207);
    color: rgb(255, 255, 255);
}

.check {
    color: white;
}

.us {
    color: rgb(253, 253, 255);
}
